:root {
  // colors
  --frontendMentor: hsl(228, 45%, 44%);
  --selectedButton: hsl(25, 97%, 53%);
  --text: hsl(0, 0%, 100%);
  --ratingNotSelectedText: hsl(217, 12%, 63%);
  --ratingHoverBackground: hsl(216, 12%, 54%);
  --ratingNotHoverBackground: hsl(213, 19%, 18%);
  --cardBackground: hsl(216, 12%, 8%);
  --backgroundColor: hsl(228, 11%, 9%);
}

