button[type='button'] {
  border: 1px solid transparent;
  background-color: var(--selectedButton);
  color: var(--text);
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  transition: all ease-in-out 100ms;
  font-family: var(--font);
  font-weight: var(--regularFont);
  letter-spacing: 0.1rem;

  &:hover {
    background-color: var(--text);
    color: var(--selectedButton);
    font-weight: var(--boldFont);
  }
}