input[type="radio"] {
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  // border: 1px solid red;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  left: -1rem;
  margin: auto 1rem;
  transition: all ease-in-out 100ms;

  &:hover {
    background-color: var(--ratingHoverBackground);
    z-index: -1;
  }

  &:checked {
    background-color: var(--selectedButton);
    z-index: -1;
  }
}
